<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key><string>WhosOnMyWiFi</string>
    <key>CFBundleIdentifier</key><string>io.github.etreresearch.whos-on-my-wifi</string>
    <key>CFBundleName</key><string>Who&apos;s on My Wi-Fi</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleVersion</key><string>2</string>
    <key>CFBundleShortVersionString</key><string>1.0.1</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>NSLocalNetworkUsageDescription</key><string>Discover responding devices on the Wi-Fi network you choose to scan.</string>
</dict>
</plist>
